/* == s == top page  == s == top page  == s == top page  == s == top page */
.topHero {
  background: url('HomePicture.png') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: white;
}

.topHero .title {
  width: max-content;
  max-width: 90%; 

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Playfair Display", "Hiragino Maru Gothic ProN", "Yu Gothic UI", serif;
  color: #ff9616;
  /* font-size: 5.0rem; */
  font-size: 5vw;
  font-weight: 600;
  line-height: 1.2;
  text-shadow: 0.05rem 0.3rem 0.8rem rgba(13, 78, 0, 0.836);
  
  font-style: italic;
  text-align: center;
  padding: 2rem;
}

.topHero .subtitle {
  width: max-content;
  max-width: 90%; 

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Playfair Display", "Hiragino Maru Gothic ProN", "Yu Gothic UI", serif;
  color: #ffe941;
  /* font-size: 2.5rem; */
  font-size: 3vw;
  font-weight: 500;
  line-height: 1.0;

  font-style: italic;
  text-align: center;
  padding: 2rem;
}

.topHero .subsubtitle  {
  width: max-content;
  max-width: 90%; 

  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Playfair Display", "Hiragino Maru Gothic ProN", "Yu Gothic UI", serif;
  color: #fffbbc;
  /* font-size: 2.0rem; */
  font-size: 2vw;
  font-weight: 600;
  /* line-height: 2.5; */
  line-height: 1.0;

  text-align: center;

  padding: 2rem;
}

.topHero .caption {
  position: absolute;
  bottom: 0.062rem;
  right: 0.188rem;
  color: #fff3c9;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  /* font-size: 1rem; */
  font-size: 1vw;
}

.icon-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.icon-link img {
  /* width: 12.5rem;
  height: 12.5rem; */
  /* width: 90%; */
  /* height: 90%; */
  height: 20vh;
  width: auto;
  object-fit: contain; /* 必要に応じて縦横比を維持 */
  max-width: 15rem; /* 広すぎ防止 */
  border-radius: 80%;
  border: 0.188rem solid white;
  transition: transform 0.3s;
}

@media (max-width: 50.0rem) {
  .icon-link img {
    width: 70%;
    top: 70%;
  }
  .topHero .title {font-size: 10vw;}
  .topHero .subtitle {font-size: 4vw;}
  .topHero .subsubtitle  {
    font-size: 3vw;
    top: 80%;
  }
  .topHero .caption {
    font-size: 2vw;
  }
}
/* == e == top page  == e == top page  == e == top page  == e == top page */


body {
  overflow-x: hidden;
  /* background-color: #fffade; */
  background-color: #475e00;
  /* background-color: #fdfdfc; */
  /* background-color: #f5f5eb; */
  color: #2a2a2a;
}


/*　== s ==  Container　== s ==  Container == s ==  Container　== s ==  Container == s ==  Container */
.section-container {
    display: block;
    flex-direction: row;
    align-items: center;
    padding: 4rem 0rem;
    background: #475e00;

}
.card-block {
    background-color: #191919;
    
    color: #ffe15c;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2.5;

    border-radius: 0.312rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.1);
    width: 100%;
    /* max-width: 50.0rem; */
    padding: 0.1rem;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
    
    margin-bottom: 0.1rem;
    /* transition: transform 0.3s ease; */
}


.sub-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 4rem;
  background: #475e00;
}
.sub-card-block {
  width: 100%;
  max-width: 81.25rem;
  width: 98%;
  
  padding-left: 0.8rem;
  padding-right: 1.5rem;

  border-radius: 0.312rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.1);
  background-color: #fffade;  
  
  margin-left: 13.75rem;
  margin-right: 0.312rem;
  /* transition: transform 0.3s ease; */

  color: #181818;
  font-size: 1.125rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .subsidebar {
    display: none;
  }
  .sub-card-block {
    margin-left: 0.5rem;
    padding: 1rem;
  }
}
/*　== s ==  Container　== s ==  Container == s ==  Container　== s ==  Container == s ==  Container */



/* == s == Setting of images　==== */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.image-left .image { order: 1; }
.image-left .text  { order: 2; }
.image-right .text  { order: 1; }
.image-right .image { order: 2; }

.row .image, .row .text {
  flex: 1 1 50%;
  padding: 1rem;
}

.row .image img {
  width: 100%;
  height: auto;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  /* 縦並び */
  .row {flex-direction: column;}

  /* 全ての行で画像 → テキスト の順にする */
  .image-left .image,
  .image-right .image {order: 1;}

  .image-left .text,
  .image-right .text {order: 2;}

  /* （お好みで）画像とテキストの間の余白を追加 */
  .row .image {margin-bottom: 1rem;}
}

.image-overlay-container {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
}

.image-overlay-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.3s ease; 
}

.image-overlay-container .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "Playfair Display", "Hiragino Maru Gothic ProN", "Yu Gothic UI", serif;
    font-style: italic;
    color: rgb(255, 214, 66);
    text-shadow: 0.05rem 0.3rem 0.8rem rgba(83, 47, 0, 0.946);
    background: radial-gradient(circle, #6c8d0090 0%, rgba(27, 103, 0, 0.017) 100%);
    padding: 1rem;
    font-size: 3.0rem;
    /* border-radius: 0.375rem; */
    pointer-events: none; /* Do not let the text be clickable */
}
@media (max-width: 768px) {
  .image-overlay-container .overlay-text {
    font-size: 7vw;
  }
}

/* Change when hovering */
.image-overlay-container:hover img {
    filter: brightness(70%); /* become dark */
}

/* Row images by Flexbox  */
.image-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
}

.image-row img {
    width: 45%; /* 45% + 45% = 90% */
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(22, 79, 0, 0.396);
    transition: transform 0.3s ease;
}

.image-row img:hover {
  transform: scale(1.05);   /* expand by hover */
}

.modal {
  display: none;               /* 最初は非表示 */
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
}
/* == e == イメージ設定　==== */



/* == s == Section navigation == s == Section navigation == s == Section navigation == s == Section navigation */
.section-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; 
  padding: 1rem 0;
}

.section-nav a {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  margin-right: 0.2rem;
  background-color: #784c00;
  color: rgb(61, 194, 255);
  text-decoration: none;
  border-radius: 0.312rem;
  font-weight: 500;
  transition: background-color 0.3s;
}

.section-nav a:hover {
  background-color: #9e7f00;
}
/* == e == Section navigation == e == Section navigation == e == Section navigation == e == Section navigation */


/* == s == Link styles  == s == Link styles  == s == Link styles  == s == Link styles */
a {
  color: #99cc00;
}
a:hover {
  color: #4c8e00;
}
/* == e == Link styles  == s == Link styles  == s == Link styles  == e == Link styles */

/* == s == Button-like links  == s == Button-like links == s == Button-like links*/
.button {
  display: inline-block;
  background-color: #2e5e4e;
  color: #ffffff;
  padding: 0.6rem 1.2rem;
  border-radius: 0.375rem;
  text-decoration: none;
  margin-top: 1rem;
  font-weight: bold;
}

.button:hover {
  background-color: #163b6b;
}
/* == e == Button-like links  == e == Button-like links == e == Button-like links*/


/* == s == Heading styles  == s == Heading styles  == s == Heading styles  == s == Heading styles */
h1{
  font-family: "Yuji Syuku", "Hiragino Mincho ProN", "Yu Mincho", serif;
  text-shadow: 0.031rem 0.25rem 0.5rem rgba(41, 31, 20, 0.823);
  font-size: 400%;
  font-weight: 1200;
  margin-bottom: 1rem;
  color: #fc9629;
}
h2{
  font-family: "Sawarabi Gothic", "Zen Maru Gothic", "Tsukushi B Round Gothic", "Hiragino Maru Gothic ProN", "Arial", serif;
  font-size: 180%;
  font-weight: 1500;
  /* background: linear-gradient(to right, rgb(67, 89, 1), rgba(118, 108, 0, 0.854)); */
  /* background: linear-gradient(to right, rgb(67, 89, 1), rgba(118, 108, 0, 0.854)); */
  background: linear-gradient(to right, #dc5800,  rgba(255, 217, 0, 0.538));
  padding: 0.5rem 0.8rem 0.5rem 1rem;
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  color: #ffde90;
  text-shadow: 0.188rem 0.188rem 0.25rem rgba(191, 115, 0, 0.5);
}
h3{
  font-family: "Sawarabi Gothic", "Zen Maru Gothic", "Tsukushi B Round Gothic", "Hiragino Maru Gothic ProN", "Arial", serif;
  font-size: 150%;
  font-weight: 1200;
  color: #69a200; 

  position: relative;
  padding: 1rem 0.8rem 0.5rem 1.5rem;
  margin-bottom: 0.4rem;
}
h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.25rem;
  width: 100%;
  /* background-image: linear-gradient(to right, #8d6000, transparent); */
  background-image: linear-gradient(to right, #dc5800,  rgba(255, 217, 0, 0.538));
  border-radius: 0.125rem;
}
h4{
  font-family: "Sawarabi Gothic", "Zen Maru Gothic", "Tsukushi B Round Gothic", "Hiragino Maru Gothic ProN", "Yu Gothic UI", serif;
  font-size: 120%;
  font-weight: 900;
  border-left: 0.312rem solid #e5a000;
  padding-left: 1rem;
  color: #3c6700; 
  margin-bottom: 0.4rem;
}
/* == e == Heading styles  == e == Heading styles  == e == Heading styles  == e == Heading styles */


pre {
  background: #222;
  color: #b6ff01;
  font-weight: 500;
  /* padding-left: 0.5rem; */
  padding: 0.5rem;
  overflow-x: auto;
}

cmd {
  background: #222;
  color: #b6ff01;
  font-weight: 500;
  /* padding-left: 0.5rem; */
  padding: 0.5rem;
  overflow-x: auto;
}


.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #5c4900;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.5rem; 
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.back-to-top:hover {
  background-color: #a1ad00;
  transform: translateY(-0.188rem);
}




/*　== s == sub Page Header Settings == s == sub Page Header Settings == s == sub Page Header Settings */
.sub-header-image {
  position: relative;
  width: 100%;
  height: 18.75rem;
  background: url("/my-website/images//SubPageTop.png") center center / cover no-repeat;
  color: white;
}

.sub-header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-size: 2rem; */
  text-align: center;
  width: 100%;
  color: rgb(255, 180, 19);
  text-shadow: 0.062rem 0.062rem 0.312rem rgba(0,0,0,0.6);
}

.sub-header-logo {
  position: absolute;
  top: 0.625rem;
  left: 1.25rem;
}

.sub-header-logo a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}
/*　== e == sub Page Header Settings == e == sub Page Header Settings == e == sub Page Header Settings */


/* == s == footer  == s == footer  == s == footer  == s == footer  == s == footer */
.site-footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.site-footer a {
  color: #ddd;
  text-decoration: none;
  margin: 0 0.5rem;
}

.site-footer a:hover {
  color: #fff;
}
/* == e == footer  == e == footer  == e == footer  == e == footer  == e == footer */

/* == s == navbar  == s == navbar  == s == navbar  == s == navbar  == s == navbar */
/* navigation bar styles */
.main-nav {
  background-color: #333;
  padding: 0.5rem 1rem;
  top: 1rem;
  right: 1rem;
}
.main-nav li:hover > a {
  color: rgb(255, 199, 67);
  border-bottom: 0.125rem solid rgb(255, 199, 67);
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 600px) {
  .nav-list {gap: 0.1rem;}
}

/* .nav-list > li {
  position: relative;
  margin-right: 1.5rem;
} */

.nav-list > li > a {
  color: rgb(123, 171, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
}
@media (max-width: 600px) {
  .nav-list {gap: 0.1rem;}
  .nav-list > li > a {
    padding: 0.1rem 0.3rem;
  }
}

/* Undisplay dropdown */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #555;
  padding: 0;
  list-style: none;
  min-width: 15.625rem;
  z-index: 1000;
}

.dropdown li a {
  color: rgb(255, 199, 67);
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
}

.dropdown li a:hover {
  background-color: #444;
}

/* Hover timing */
.has-dropdown:hover .dropdown {
  display: block;
}
/* == e == navbar == e == navbar == e == navbar == e == navbar */



/* == s == side bar ==== == side bar ==== == side bar ==== == side bar ==== == side bar ==== s ==-*/
.sidebar {
    height: calc(100vh - 3.75rem);
    position: fixed;
    top: 23.75rem;
    left: 0;
    /* width: 11.25rem; */
    width: 10%;
    max-width: 11.25rem; /* 広すぎ防止 */
    min-width: 7.5rem; /* 狭すぎ防止 */
    background-color: #f5f5eb;
    padding: 1rem;
    border-right: 0.625rem solid #8b6100;
    overflow-y: auto;
}
@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
/* == e == side bar ==== == side bar ==== == side bar ==== == side bar ==== == side bar === e ===-*/



/* == s ==  breadcrumb list　 == s ==  breadcrumb list　 == s ==  breadcrumb list　 */
.breadcrumb {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: #c8c8c8;
}

.breadcrumb a {
  color: #86a800;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}
/* == e ==  breadcrumb list　 == e ==  breadcrumb list　 == e ==  breadcrumb list　 */



.cmd-table {
  border-collapse: collapse;
  width: 100%;
}

.cmd-table td {
  border: 1px solid #000;
  padding: 0.2rem;
}

.cmd-table .cmd-cell {
  background: #222;
  color: #b6ff01;    
  font-family: monospace; 
  white-space: nowrap;    
  width: 200px;           
}

.cmd-table tr:nth-child(even) .desc {
  background-color: #e8fffd;
}
.cmd-table tr:nth-child(odd) .desc {
  background-color: #a9cac4;
}

.selfphoto {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 25%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


